[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/derpcafgerrit
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/derpcafgerrit
	label-Verified = -1..+1 group user/derpcafgerrit
	push = group user/derpcafgerrit
	read = group user/derpcafgerrit
	rebase = group user/derpcafgerrit
	removeReviewer = group user/derpcafgerrit
	submit = group user/derpcafgerrit
[access "refs/heads/*"]
	create = group user/derpcafgerrit
	push = +force group user/derpcafgerrit
	pushMerge = group user/derpcafgerrit
	read = group user/derpcafgerrit
[access "refs/tags/*"]
	push = group user/derpcafgerrit
	push = +force group user/derpcafgerrit
